@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

#baslik{
    /* outline: 5px dotted rgb(0, 0, 0); */
    height: 60px;
    background-color: #FA8BFF;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);    
    width: 100%
}

#text{
    font-family: Oswald;
    letter-spacing: 4px; /* Harfler arasındaki mesafe 2 piksel artar */
    text-align: center  ;
    font-size: 100%;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #ff0000, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #ff0000, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    
}